body {
    font-family: Poppins, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    border: none;
    display: block;
    margin: 0;
}

@mixin headings {
  h1, h2, h3,
  h4, h5, h6 {
    @content;
  }
}

@include headings {
  color:#861F41;
}

nav {
    background-color: #000;
    padding: 10px 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
}

nav li {
    margin-left: 20px;
}

nav li a {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 28px;
    padding: 8px 16px;
    display: block;
    text-decoration: underline 0.5px #000;
    text-underline-offset: 10px;
    transition: text-decoration-color 300ms;
}

nav li a:hover {
  text-decoration-color: #fff;
}

@media screen and (max-width: 1050px) {
  nav ul { display: block; };
}

nav li a.current {
    text-decoration: underline 0.5px;
    text-underline-offset: 10px;
    text-decoration-color: #fff;
}

//.current {
//    text-decoration: underline 0.5px;
//    text-underline-offset: 10px;
//}

.page-content{
  margin-left: 20px
}

.icon-grid {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjust the gap between icons as needed */
    padding: 20px; /* Adjust the padding as needed */
}

.icon-grid a img {
    width: 40px; /* Adjust the size of the icons as needed */
    height: 40px;
    transition: transform 0.3s;
}

.icon-grid a img:hover {
    transform: scale(1.1); /* Slightly enlarge the icon on hover */
}

