@import '@fontsource/poppins';
@import '@fontsource/roboto';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: white;
  --text-color: black;
  --link-color: blue;
  --header-background-color: white;
  --header-text-color: black;
  scrollbar-width: thin;
}

:root.dark {
  --background-color: black;
  --text-color: white;
  --link-color: blue;;
  --header-background-color: black;
  --header-text-color: white;
}

html {
    background-color: #f1f5f9;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    margin: 0 auto;
    width: 100%;
    /* max-width: 80ch; */
    /* padding: 1rem; */
    /* line-height: 1.5; */
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }
  
  html.dark {
    background-color: black;
    color: white;
  }