<footer>
    <div class="icon-grid">
        <a href="https://www.facebook.com/RocketryatVT/" target="_blank" rel="noopener noreferrer">
            <img src="{{site.baseurl}}/assets/img/facebook/Primary Logo/Facebook_Logo_Primary.png" alt="Facebook">
        </a>
        <a href="https://www.instagram.com/rocketryatvirginiatech/" target="_blank" rel="noopener noreferrer">
            <img src="{{site.baseurl}}/assets/img/instagram/01 Gradient Glyph/instagram.png" alt="Instagram">
        </a>
        <a href="https://www.linkedin.com/company/rocketry-at-virginia-tech/" target="_blank" rel="noopener noreferrer">
            <img src="{{site.baseurl}}/assets/img/linkedin/linkedin.svg" alt="LinkedIn">
        </a>
    </div>
    <h5> Rocketry at Virginia Tech </h5>
</footer>