<nav>
<ul>
    <li><img src="{{site.baseurl}}/assets/img/maroon_transparent_textless.png"
             class="nav-logo" width="107" height="75" alt="Rocketry at Virginia Tech"
             style="display:block" fetchpriority="high" loading="eager" decoding="async" data-loader="raw"></li>
    {% for item in site.data.navigation %}
        <li><a href="{{ item.link | relative_url }}"
               {% if page.url == item.link %}
                class="current"
               {% endif %}>
            {{ item.name }}
        </a></li>

    {% endfor %}
    <br>

</ul>
</nav>
