---
import { getImage, Image } from 'astro:assets';
import spaceport_america_2023 from '../assets/images/DSC09439.jpeg';
import BaseLayout from '../layouts/BaseLayout.astro';

import Button from '../components/Button.astro';

const optimizedHero = await getImage({ src: spaceport_america_2023 });
---

<BaseLayout pageTitle="About Us | Rocketry at Virginia Tech" preloadImages={[optimizedHero.src]}>
<style>
  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .text-cell {
    flex: 1;
    padding: 48px;
  }
  .image-cell {
    flex: 1;
    padding: 20px;
  }
  .image-cell img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
  }
  .header {
    font-size: 44.8px;
    font-style: normal;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    line-height: 58.2px;
    color: rgb(134, 31, 65);
  }
  p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 32px;
    color: rgb(0, 0, 0);
  }
  @media (max-width: 1024px) {
    .flex-container {
      flex-direction: column-reverse;
      padding: 0;
    }
    .text-cell, .image-cell {
      padding: 20px;
    }
  }
</style>

<div class="flex-container">
  <div class="text-cell">
    <div class="header">
      <h2>Our Mission</h2>
    </div>
    <br>
    <p>Rocketry At Virginia Tech competes in the 10k COTS category of the International Rocket Engineering Competition (IREC), where we strive to achieve a 10,000-foot apogee with a commercial off-the-shelf motor. In pursuit of this goal, students gain hands-on technical and teamwork experience.</p>
    <br>
    <Button url="https://www.soundingrocket.org/2025-irec.html" text="Learn more about IREC" new_tab = true/>
  </div>
  <div class="image-cell">
    <Image src={spaceport_america_2023} alt="Rocketry at Virginia Tech" loading="eager" fetchpriority="high" />
  </div>
</div>
</BaseLayout>