---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
import Logo from "./Logo.astro";
import ThemeIcon from "./ThemeIcon.astro";
const { headerColor } = Astro.props;
const isDarkMode = headerColor === "dark";
const headerStyles = isDarkMode
  ? {
      "--header-background-color": "black",
      "--header-text-color": "white",
    }
  : {
      "--header-background-color": "white",
      "--header-text-color": "black",
    };
---

<header style={headerStyles}>
  <nav>
    <Logo />
    <!-- <Hamburger /> -->
    <!-- <ThemeIcon /> -->
    <Navigation {headerStyles}/>
  </nav>
</header>

<style>
  header {
    background-color: var(--header-background-color);
    color: var(--header-text-color);
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
  }
</style>